@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: true *@
@inherits HttpReports.Dashboard.Views.RazorPage
@using System.Collections.Generic
@{
    ViewData["Title"] = "Trace"; 
  
    var lang = ViewData["Language"] as HttpReports.Dashboard.Services.Localize;

    Layout = new HttpReports.Dashboard.Views.HttpReportsTemplate { Context = Context, ViewData = ViewData };

}

<script src="/HttpReportsStaticFiles/Content/js/mSlider.min.js"></script>
<script src="/HttpReportsStaticFiles/Content/js/jquery.nicescroll.js"></script>

<div class="panel panel-default">

    <div class="panel-body request-trace" style="padding-left:30px;padding-right:30px;padding-top:30px;min-height:720px;padding-bottom:30px">

        <div class="request-tree"></div>

    </div>
</div>

<div class="contextBox" style="display:none;">

    <h3 class="request_detail_notfound" style="display:none">@lang.Request_NotFound</h3>

    <h3 class="request_detail_title" style="padding-left:6px;margin-bottom:16px"><i class="fa fa-star-half-o" style="margin-right:10px"></i>  @lang.Request_BasicInfo</h3>

    <table class="table table-striped table-bordered" style="word-break:break-all">
        <thead>
            <tr>
                <th width="160">Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>RequestId</td>
                <td class="context_requestId" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>
            <tr>
                <td>@lang.Index_ServiceNode</td>
                <td class="context_node" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>
            <tr>
                <td>@lang.Request_Route</td>
                <td class="context_route" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>

            <tr>
                <td>@lang.Request_Url</td>
                <td class="context_url" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>

            <tr>
                <td>@lang.Request_Type</td>
                <td class="context_method" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>

            <tr>
                <td>@lang.Request_Connection</td>
                <td class="context_requestType" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>


            <tr>
                <td>@lang.Request_Time</td>
                <td class="context_milliseconds" style="text-align:left;font-size:12px;padding-left:8px"></td>
            </tr>

            <tr>
                <td>@lang.Request_StatusCode</td>
                <td class="context_statusCode" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>@lang.Request_RemoteIP</td>
                <td class="context_ip" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>@lang.Request_RemotePort</td>
                <td class="context_port" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>@lang.Request_LocalIP</td>
                <td class="context_localIp" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>@lang.Request_LocalPort</td>
                <td class="context_localPort" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>

            <tr>
                <td>@lang.Request_CreateTime</td>
                <td class="context_createTime" style="text-align:left;font-size:12px;padding-left:6px"></td>
            </tr>


        </tbody>
    </table>

    <h3 class="request_detail_title" style="padding-left:6px; margin-top:20px;margin-bottom:16px"><i class="fa fa-space-shuttle" style="margin-right:10px"></i>  @lang.Request_DetailInfo</h3>

    <table class="table table-striped table-bordered" style="word-break:break-all">
        <thead>
            <tr>
                <th width="160">Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>QueryString</td>
                <td class="context_queryString" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>Header</td>
                <td class="context_header" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>Cookie</td>
                <td class="context_cookie" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>RequestBody</td>
                <td class="context_requestBody" style="text-align:left;font-size:12px"></td>
            </tr>


            <tr>
                <td>ResponseBody</td>
                <td class="context_responseBody" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>Error</td>
                <td class="context_error" style="text-align:left;font-size:12px"></td>
            </tr>

            <tr>
                <td>ErrorStack</td>
                <td class="context_errorStack" style="text-align:left;font-size:12px"></td>
            </tr>


        </tbody>
    </table>

</div>


<input type="hidden" value="@ViewData["TraceId"]" class="trace_id" />

<script src="/HttpReportsStaticFiles/Content/page/trace.js?ver=1.0.5"></script> 